<div class="row mt-5 footer">
  <div class="col-6 box-information">
      <h1>ducanhgx</h1>
      <div class="content">
        <p> Hi Phone là cửa hàng bán điện thoại hot nhất hiện nay </p>
        <p>Địa chỉ: 135 Hiền Vương Phú Thạnh , Tân Phú, Hồ Chí Minh</p>
        <p>Điện thoại: 0999999999</p>
      </div>
  </div>
  <div class="col-6 box-menu">
    <h3>Menu</h3>
    <ul>
      <li routerLink="/trangchu" routerLinkActive="active">Trang chủ</li>
      <li routerLink="/gioithieu" routerLinkActive="active">Giới Thiệu</li>
      <li routerLink="/lienhe" routerLinkActive="active">Liên hệ</li>
    </ul>
  </div>
</div>
<!-- <div class="row author">
  <div class="col">
    <p>Created by Lê Đức Anh © </p>
  </div>
</div> -->