<!-- <h1 class="text-center">Welcome To Here</h1> -->
<div class="boxlogin">
    <h1 class="text-center">Đăng Nhập</h1>
  <mat-card>
    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
      <div class="example-container mt-3">
        <mat-form-field>
          <input matInput type="email" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email"
            [pattern]="emailRegex" required placeholder="Email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput type="password" required name="password" #password="ngModel" [(ngModel)]="model.password"
            placeholder="Password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <div class="text-center">
        <button type="submit" [disabled] ="!signInForm.valid" mat-raised-button class="btn btn-primary">Đăng Nhập</button>
      </div>
    </form>
  </mat-card>
</div>