table {
  width: 100%;
  overflow-x: auto;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.example-margin {
  margin: 10px;
}
mat-form-field{
  width:  70%;
  margin-top: 1%;
  margin-bottom: 1%;
}